a {
  
}

a:hover,
a:focus {
  color: #06c;
}

header #top {
  margin-bottom: 0;
  
  nav#top-nav-main {
    float: right;
    padding-left: 30px;
  }

  nav#top-nav-extra {
    li a {
      margin-right: .5rem;
    }
  }
  
  #top-brand {
    margin-right: 0;
    
    a {
      background: url(/img/orange-logo.png) no-repeat 0 50%;
      background-size: 50px;
      padding: 2rem 3.6rem;
      font-size: 1.4rem;
      text-decoration: none;
      color: #252525;
    }
    
    a::before {
      // background-image: image("/assets/images/orange-logo.png");
      background:
      url("/assets/images/orange-logo.png") bottom center no-repeat;
    }
  }
} 

#hero.homepage {
  padding: 0;
  background-color: #eee;
  
  h1 {
    width: max-content;
    margin-bottom: 0;
    padding: 2rem 3.6rem;
    font-size: 4rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 2.5rem;
    padding-top: 2rem;
    
    &::before {
      background-color: #4f7599;
    }
  }
  
  @media (min-width: 600px){
    padding: 5rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
      background: url(/img/orange-logo.png) no-repeat 0 50%;
      background-size: 105px;
      padding-left: 7.5rem;
      padding-right: 1rem;
    }
  }
}

main {
  min-height: 82vh;
}

#kube-features {
  margin-top: 0;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  // border-top: 1px solid #ccc;
  
  .row {
    
    &:first-child {
      border: none;
      margin: 0;
      padding: 0 2rem;
    }
  }
  
  p {
    font-size: 1.2rem;
  }
}

#posts {
  max-width: 50vw;
  margin-top: 0;
  text-align: left;
}

#posts h2:first-child {
  margin-top: 0;
}

#posts h2 {
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  /* padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0,0,0,.1); */
  font-size: 1.8rem;
}

#footer {
  margin: 0;
  border: none;
  padding: 1.3rem 2rem;
  font-size: .8rem;
  background-color: #313439;
  color: #fff;
  
  & * {
    margin-bottom: 0;
  }
  
  & nav ul li span {
    color: rgba(255, 255, 255, 0.5);
  }
  
  & nav ul li a {
    color: rgba(255, 255, 255, 0.9);
  }
}

.list-toc {
  position: fixed;
  top: 150px;
  right: 100px;
  padding: .5rem 1.8rem;
  border-left: 2px solid #4f7599;
}

.list-toc h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.list-toc .guide {
  list-style-type: none;
  position: sticky;
  padding: 0;
  margin: 0;
}

.list-toc .guide li {
  /* border: none; */
}

.list-toc .guide li a {
  font-size: 1rem;
}